<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" 
	href="{{ url_for('static', filename='css/mycss.css') }}">
	
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container main-login main-center">
		<div class=" jumbotron main-login main-center">
			
			{% block content%}{% endblock %}
		</div>
	</div>




	<footer>
		<div class="container">
			<div class="row">
				<p class="copyright text-muted">&copy; step Flask 2017</p>
			</div>
		</div>
	</footer>
</body>
</html>