#form-inputs,
#form-output {
    float: left;
    margin-right: 50px;
}

#form-inputs > .form-input-groups > .group {
    margin-bottom: 10px;
}
#form-inputs > .form-input-groups > .group > label {
    font-weight: bold;
    display: block;
}
#form-inputs > .form-input-groups > .group > input {
    padding: 6px 12px;
}

#form-output {
    max-width: 700px;
    word-wrap: break-word;
    white-space: pre-wrap;
}